<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
   
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<!-- add pretty-printing with syntax highlighting -->
            <!-- remove unnecessary fields in testing -->
            <fieldNames>
            	<levelValue>[ignore]</levelValue>
            	<version>[ignore]</version>
            </fieldNames>
			<jsonGeneratorDecorator class="com.github.skjolber.decorators.SyntaxHighlightingDecorator">
				<syntaxHighlighter>com.github.skjolber.decorators.syntaxhighlight.MessageSyntaxHighlighter</syntaxHighlighter>
			</jsonGeneratorDecorator>
		</encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="STDOUT_JSON" />
	</root>
</configuration>