<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
   
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<!-- add pretty-printing with syntax highlighting -->
            <!-- remove unnecessary fields in testing -->
			<jsonGeneratorDecorator class="com.github.skjolber.decorators.SyntaxHighlightingDecorator">
				<syntaxHighlighterFactory class="com.github.skjolber.decorators.factory.LogLevelSyntaxHighlighterFactory">
					<stringValue>blue</stringValue>
					<numberValue>black highIntensity</numberValue>
					<fieldName>red</fieldName>
					<binaryValue>yellow</binaryValue>
					<booleanValue>cyan</booleanValue>
					<nullValue>black</nullValue>
					<curlyBrackets>green</curlyBrackets>
					<squareBrackets>green</squareBrackets>
					<colon>green</colon>
					<whitespace>green</whitespace>
					<comma>green</comma>
				</syntaxHighlighterFactory>
			</jsonGeneratorDecorator>
		</encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="STDOUT_JSON" />
	</root>
</configuration>